

<header>
    <nav class="main-nav">
        <ul>
            <li class="left">
                <a href="/"><i class="fa-solid fa-paw"></i> Pawtagram</a>
            </li>
            <li class="right">
                <a href="/about">About</a>
                <a href="/contacts">Contacts</a>
                <a href="/register">Register</a>
                <a href="/login">Login</a>


            </li>
        </ul>
    </nav>
</header>

<footer>
    <li>
        <a href="#">Up to top</a>
    </li>
    <li>
        <a href="#">Contacts</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
</footer>

