<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="main-nav">
            <ul th:if="${@loggedUser.id == 0}">
                <li class="left">
                    <a href="/"><i class="fa-solid fa-paw"></i> Pawtagram</a>
                </li>
                <li class="right">
                    <a href="/about">About</a>
                    <a href="/contacts">Contacts</a>
                    <a href="/register">Register</a>
                    <a href="/login">Login</a>
                </li>
            </ul>
            <ul th:if="${@loggedUser.id > 0}">
                <li class="left">
                    <a href="/home"><i class="fa-solid fa-paw"></i> Pawtagram</a>
                </li>
                <li class="right">
                    <a href="/pet">Register pet</a>
                    <a href="/about">About</a>
                    <a href="/contacts">Contacts</a>
                    <a href="/logout">logout</a>
                    <a href="/"><i class="fa-brands fa-earlybirds"></i></a>
                    <a href="/"><i class="fa-solid fa-user"></i></a>
                </li>
            </ul>
        </nav>
    </header>

    <footer>
        <a href="#"><i class="fa-solid fa-circle-arrow-up fa-2x"></i></a>
    </footer>
</body>
</html>



