*{
    margin: 0;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px 0;

}

.image{
    max-width: 400px;
    display: grid;

    justify-content: center;
    align-items: center;
    text-align: center;


    margin-bottom: 40px;

    height: 80%;
    background: linear-gradient(to bottom, rgb(255, 106, 0), rgba(255, 106, 0, 0.523));
    background-size: cover;
    border-radius: 15px;
    position: relative;
}

.comments p{
    border-bottom: 1px solid black;
    margin: 10px 20px;
    padding: 0 15px;
    text-align: left;
}



img{
    width: 400px;
    height: auto;
    border-radius: 15px;
}


