<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>index</title>
    <link rel="stylesheet" href="css/index.css">
    <th:block th:include="~{/fragments/head}"></th:block>

</head>
<body>

<header th:replace="fragments/commons::nav"></header>

<section class="main">
    <div class="container" id="about">
        <div class="contact-box">
            <div id="up"></div>

            <div class="first">
                <h1>About this place</h1>
            </div>

            <div class="second">
                <p>
                    I have created this place with idea to let people able to see some cute animals or let them show their beloved pets. <br>
                    There are no constraints about how many pictures You can link to specific animal or how many pets You can register. <br>
                    This place is to spread love not war. The whole idea was to make people forget about their problems for a bit and make them smile because...
                    come on everybody loves little cute creatures. <br>
                </p>

                <p>
                    Of course there is a plenty of work still and soon there will be more cool thinks like giving likes to a picture, get some useful tips from
                    other pet owners who can help you with teaching your beloved animal some tricks and many more.
                </p>

                <p class="rules">
                    <b>I can only ask people to be mature enough to follow some simple rules.</b><br>
                    1 - DON`T UPLOAD UNAPPROPRIATED PICTURES ! <br>
                    2 - DON`T COMMENT THINKS THAT YOU WON`T LIKE TO SEE ON YOUR PICTURES !
                </p>

                <p>
                    If You have some good ideas to share, have problems with the user experience of some kind, there is <a href="/contacts">Contact</a>  page where you can find my e-mail to contact
                </p>
            </div>
            <div id="down"></div>

        </div>

    </div>
</section>



</body>
</html>