<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="css/nav&footer.css">
    <link rel="stylesheet" href="css/register&login.css">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84cf192ba2.js" crossorigin="anonymous"></script>

</head>

<body>

    <nav class="main-nav">
        <ul>
            <li class="left">
                <a href="welcome.html"><i class="fa-solid fa-paw"></i> Pawtagram</a>
            </li>
            <li class="right">
                <a href="about.html">About</a>
                <a href="#">Contacts</a>
                <a href="register.html">Sign in</a>
            </li>
        </ul>
    </nav>

    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure necessitatibus incidunt deleniti perspiciatis
            et
            tenetur, sequi possimus aspernatur reprehenderit recusandae quos debitis laborum impedit consequatur maiores
            adipisci sit molestiae quae.</p>
    </div>

    <footer>
        <ul>
            <li>
                <a href="#">Contacts</a>
                <a href="#">Contacts</a>
                <a href="#">Contacts</a>
            </li>
        </ul>
    </footer>

</body>

</html>