<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" href="css/forms.css">
        <th:block th:include="~{/fragments/head}"></th:block>
        <title>add-picture</title>
    </head>
    <body>

        <header th:replace="fragments/commons::nav"></header>

        <div class="container">
            <form class="register-box"
                  th:method="post"
                  th:action="@{/add-pic}"
                  th:object="${addPhotoDTO}">

                <img id="picture" src="" alt="">
                <div class="form-group">
                    <label>Picture Url</label>
                    <input onchange="dynamic()"
                           id="url" type="url"
                           name="picture"
                           class field placeholder="picture"
                           th:field="*{url}">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input id="description"
                           type="text"
                           name="description"
                           class field placeholder="Description"
                           th:field="*{description}">
                </div>

                <div class="buttons">
                    <button class="submit" type="submit">Add picture</button>
                </div>


            </form>
        </div>

        <script > function dynamic(){
            var url = document.getElementById('url').value
            var pic = document.getElementById("picture").src=url
        }
        </script>

    </body>

</html>