<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Feed</title>
    <th:block th:include="~{/fragments/head}"></th:block>
    <link rel="stylesheet" href="css/border.css">
    <link rel="stylesheet" href="css/feed.css">

</head>
    <body id="body">
    <header th:replace="fragments/commons::nav"></header>

    <div class="container">
        <div class="content">
            <div class="image"
                 th:each="pet : ${pics}">
                <img th:src="${pet.imageUrl}" alt="none">
            </div>
        </div>
    </div>

    <footer th:replace="fragments/commons::footer"></footer>
    </body>

</html>