<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>home</title>
    <link rel="stylesheet" href="css/style.css">
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>
    <header th:replace="fragments/commons::nav"></header>

    <!-- choose content -->
    <div class="page-content">
        <div class="first-container">
            <div class="top">
                <div class="menu" onclick="goToLink('dogs')">
                    <img src="images/pexels-дмитрий-пропадалин-9983475.jpg" alt="beast pic">
                    <p>WOOF WOOF</p>

                </div>
                <div class="menu" onclick="goToLink('cats')">
                    <img src="images/cat pic.jpg" alt="cat pic">
                    <p>MEW MEW</p>
                </div>
                <div class="menu" onclick="goToLink('exotic')">
                    <img src="images/pexels-christopher-conde-8162455.jpg" alt="dog pic">
                    <p>RAOR</p>
                </div>
            </div>
        </div>

        <div id="all" onclick="goToLink('all')">
            <p>I love them all !</p>
        </div>

        <!-- ppls fav pic -->
        <div class="second-container" th:object="${photo}">
            <div class="fav-pic">
                <img th:src="*{url}" alt="fav pic of the week">
            </div>
            <div class="fav-pic-info" >
                <h2>Coming soon</h2>
                <p th:text="*{description}"></p>
                <p id="owner">Owner: <span>Your name here</span></p>
                <p id="pet-name">Pet name: <span>Your pet name here</span></p>
            </div>
        </div>

        <!-- interesting facts -->
        <div class="third-container">
            <h1>Interesting information</h1>
            <p>
                Cats are believed to be the only mammals who don't taste sweetness. Cats are nearsighted, but their peripheral vision and night vision are much better than that of humans. Cats can jump up to six times their length.
            </p>

        </div>
    </div>

    <footer th:replace="fragments/commons::footer"></footer>

    <script>
    function goToLink(link){
        location.href= link
    }
    </script>
</body>

</html>