<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>home</title>
    <link rel="stylesheet" href="css/style.css">
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>
    <header th:replace="fragments/commons::nav"></header>

    <!-- choose content -->
    <div class="page-content">
        <div class="first-container">
            <div class="top">
                <div class="menu" onclick="goToLink('dogs')">
                    <img src="images/pexels-дмитрий-пропадалин-9983475.jpg" alt="beast pic">
                    <p>WOOF WOOF</p>

                </div>
                <div class="menu" onclick="goToLink('cats')">
                    <img src="images/cat pic.jpg" alt="cat pic">
                    <p>MEW MEW</p>
                </div>
                <div class="menu" onclick="goToLink('exotic')">
                    <img src="images/pexels-christopher-conde-8162455.jpg" alt="dog pic">
                    <p>RAOR</p>
                </div>
            </div>
        </div>

        <div id="all" onclick="goToLink('all')">
            <p>I love them all !</p>
        </div>

        <!-- ppls fav pic -->
        <div class="second-container">
            <div class="fav-pic">
                <img src="images/cat pic.jpg" alt="fav pic of the week">
            </div>
            <div class="fav-pic-info">
                <h2>The most loved picture of the week</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, placeat officiis repudiandae quasi
                    magnam, sapiente quis consequuntur accusamus maxime deserunt perspiciatis id voluptates maiores
                    repellendus necessitatibus non voluptatibus vel mollitia.</p>
                <p id="owner">Owner: Ivan Ivanov</p>
            </div>
        </div>

        <!-- interesting facts -->
        <div class="third-container">
            <h1>Interesting information</h1>
            <p>
                Котките живеят в близост до хората от преди поне 3500 години (въпреки че не са изцяло опитомени като кучетата). В Древен Египет котките са били използвани за пазачи на складираното зърно от мишки и други гризачи, като наказанието за убита котка в Древен Египет е било смърт. В наше време котките са едни от най-разпространените домашни любимци.
            </p>

        </div>
    </div>

    <footer th:replace="fragments/commons::footer"></footer>

    <script>
    function goToLink(link){
        location.href= link
    }
    </script>
</body>

</html>