<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawtagram</title>
    <link rel="stylesheet" href="\css\style.css">
<!--    <link rel="stylesheet" href="mobile.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/84cf192ba2.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- TOP -->
    <nav class="main-nav">
        <ul>
            <li class="left">
                <a href="/"><i class="fa-solid fa-paw"></i> Pawtagram</a>
            </li>
            <li class="right">
                <a href="about.html">About</a>
                <a href="#">Contacts</a>
                <a href="#">Sign in</a>
            </li>
        </ul>
    </nav>

    <!-- choose content -->
    <div class="first-container">
        <div class="top">
            <div class="menu">
                <img src="/img/pexels-дмитрий-пропадалин-9983475.jpg" alt="beast pic">
                <p>WOOF WOOF</p>

            </div>
            <div class="menu">
                <img src="/img/cat pic.jpg" alt="cat pic">
                <p>MEW MEW</p>
            </div>
            <div class="menu">
                <img src="/img/pexels-christopher-conde-8162455.jpg" alt="dog pic">
                <p>RAOR</p>
            </div>
        </div>
    </div>

    <!-- ppls fav pic -->
    <div class="second-container">
        <div class="fav-pic">
            <img src="/img/cat pic.jpg" alt="fav pic of the week">
            <p>owner: Ivan Ivanov</p>
        </div>
        <div class="fav-pic-info">
            <h2>The most loved picture of the week</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, placeat officiis repudiandae quasi
                magnam, sapiente quis consequuntur accusamus maxime deserunt perspiciatis id voluptates maiores
                repellendus necessitatibus non voluptatibus vel mollitia.</p>
        </div>
    </div>

    <!-- interesting facts -->
    <div class="third-container">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet fuga ipsam est temporibus. Quasi natus eius
            excepturi inventore amet quaerat aliquid soluta quos accusamus exercitationem. Nesciunt, ipsa? Vero,
            doloribus ratione!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet fuga ipsam est temporibus. Quasi natus
            eius
            excepturi inventore amet quaerat aliquid soluta quos accusamus exercitationem. Nesciunt, ipsa? Vero,
            doloribus ratione!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet fuga ipsam est temporibus. Quasi natus
            eius
            excepturi inventore amet quaerat aliquid soluta quos accusamus exercitationem. Nesciunt, ipsa? Vero,
            doloribus ratione!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet fuga ipsam est temporibus. Quasi natus
            eius
            excepturi inventore amet quaerat aliquid soluta quos accusamus exercitationem. Nesciunt, ipsa? Vero,
            doloribus ratione!
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet fuga ipsam est temporibus. Quasi natus eius
            excepturi inventore amet quaerat aliquid soluta quos accusamus exercitationem. Nesciunt, ipsa? Vero,
            doloribus ratione!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet fuga ipsam est temporibus. Quasi natus
            eius
            excepturi inventore amet quaerat aliquid soluta quos accusamus exercitationem. Nesciunt, ipsa? Vero,
            doloribus ratione!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet fuga ipsam est temporibus. Quasi natus
            eius
            excepturi inventore amet quaerat aliquid soluta quos accusamus exercitationem. Nesciunt, ipsa? Vero,
            doloribus ratione!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet fuga ipsam est temporibus. Quasi natus
            eius
            excepturi inventore amet quaerat aliquid soluta quos accusamus exercitationem. Nesciunt, ipsa? Vero,
            doloribus ratione!
        </p>

    </div>

    <footer>
        <ul>
            <li>
                <a href="#">Contacts</a>
                <a href="#">Contacts</a>
                <a href="#">Contacts</a>
            </li>
        </ul>
    </footer>
    <!-- <script src="logic.js"></script> -->
</body>

</html>