<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Login</title>
    <link rel="stylesheet" href="css/form_style.css">
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>

<header th:replace="fragments/commons::nav"></header>


    <div class="container">
        <form class="register-box"
              th:method="post"
              th:action="@{/login}"
              th:object="${loginDTO}">

            <div class="form-group">
                <label>Username</label>
                <input type="text"
                       class field placeholder="Username"
                       id="username"
                       name="username"
                       th:field="*{username}">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password"
                       class field placeholder=".........."
                       id="password"
                       name="password"
                       th:field="*{password}">
            </div>

            <div class="buttons">
                    <button class="submit" typeEntity="submit">Log in</button>
            </div>

        </form>
    </div>

<footer th:replace="fragments/commons::footer"></footer>


</body>

</html>