<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Register-pet</title>
    <link rel="stylesheet" href="css/forms.css">
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>

<header th:replace="fragments/commons::nav"></header>

    <div class="container">
        <form
                class="register-box"
                th:method="post"
                th:action="@{/pet}"
                th:object="${addPetDTO}">

            <div class="form-group">
                <label>Name</label>
                <input type="text" class field placeholder="Name"
                       th:field="*{name}">
            </div>

            <div class="form-group">
                <label>Age</label>
                <input type="number" class field placeholder="Age"
                       th:field="*{age}">
            </div>

            <div class="form-group">
                <label>Image</label>
                <input type="text" class field placeholder="Image"
                       th:field="*{imageUrl}">

            </div>

            <div class="form-group">
                <label>Type</label>
                <select id="typeId"
                        name="typeId"
                        class="form-control">
                    <option value="">- Select a model -</option>
                    <option
                            th:each="t : ${types}"
                            th:text="${t.type}"
                            th:value="${t.id}">
                    </option>
                </select>
            </div>


            <div class="buttons">
                <button class="submit" type="submit">Add your pet</button>
            </div>

        </form>
    </div>


</body>


</html>