<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
    <link rel="stylesheet" href="css/profile.css">
    <title>Pet profile</title>
</head>
<body>

    <header th:replace="fragments/commons::nav"></header>


    <div class="container">
        <div class="box" th:object="${pet}">

            <div class="picBx">
                <img th:src="*{imageUrl}" alt="none">
            </div>

            <div class="content">
                <div id="info" class="text-group">
                    <p>Name - <span th:text="*{name}"></span></p>
                    <p> Years - <span th:text="*{age}"></span></p>
                </div>
                <div id="data" class="form-group">
                    <p>Pictures - <span th:text="*{picNumber}"></span></p>
                </div>

                <div class="button" onclick="goToLink('add-pic')">
                    <i class="fa-solid fa-circle-plus"></i>
                    <span class="add">Add picture</span>
                </div>
            </div>
        </div>

    </div>



    <script>
        function goToLink(link){
            location.href= link
        }
    </script>

</body>
</html>