<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pet-profile</title>
    <th:block th:include="~{/fragments/head}"></th:block>
    <link rel="stylesheet" href="css/profile.css">

</head>

<body>

<header th:replace="fragments/commons::nav"></header>



    <div class="container">
        <div class="box" th:object="${petProfile}">

            <div class="picBx">
                <img th:src="*{imageUrl}" alt="none">
            </div>

            <div class="content">
                <div id="info" class="text-group">
                    <p>Name - <span >asd</span></p>
                    <p> Years - <span >22 </span></p>
                </div>
                <div id="data" class="form-group">
                    <p>Pictures - <span >asdasd</span></p>
                </div>

                <div class="button" onclick="goToLink('pet-profile')">
                    <i class="fa-solid fa-circle-plus"></i>
                    <span class="add">Add picture</span>
                </div>
            </div>
        </div>

    </div>

    <script>
        <script>
        function goToLink(link){
            location.href= link
        }
    </script>

</body>


</html>