<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>register</title>
    <link rel="stylesheet" href="css/register&login.css">
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>

<header th:replace="fragments/commons::nav"></header>

    <div class="container">


        <form class="register-box"
                th:method="post"
                th:action="@{/register}"
                th:object="${registerDTO}">

            <div class="form-group">
                <label>Username</label>
                <input type="text"
                       id="username"
                       name="username"
                       th:field="*{username}">
            </div>

            <div class="form-group">
                <label>E-mail</label>
                <input type="email"

                       id="email"
                       name="email"
                       th:field="*{email}">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password"
                       id="password"
                       name="password"
                       th:field="*{password}">
            </div>

            <div class="form-group">
                <label>Confirm password</label>
                <input type="password"
                       id="confirmPassword"
                       name="confirmPassword"
                       th:field="*{confirmPassword}">
            </div>

            <div class="buttons">
                <button class="submit" type="submit" value="Register">Get Started</button>
            </div>

        </form>

    </div>


<footer th:replace="fragments/commons::footer"></footer>
</body>


</html>