<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User-profile</title>
    <th:block th:include="~{/fragments/head}"></th:block>
    <link rel="stylesheet" href="css/profile.css">
</head>

<body>

<header th:replace="fragments/commons::nav"></header>


<div class="container">
    <div class="box" th:object="${user}">

        <div class="imgBx">
            <i class="fa-solid fa-user"></i>
        </div>

        <div class="content">
            <div id="info" class="text-group">
                <p>Username - <span th:text="*{username}">Drago </span></p>
                <p>Name - <span th:text="*{fullName}">Dragomir</span></p>
                <p><span th:text="*{age}">22</span> years old</p>
            </div>
            <div id="data" class="form-group">
                <p>Pets count <br><span th:text="*{ownedAnimals}"></span></p>
                <p>Posted pictures <br><span th:text="*{postedPictures}"></span></p>
            </div>
        </div>

        <div class="pet-select">
            <label>Your pets</label>
            <select id="pet-name"
                    name="pey-name"
                    onchange="goToLink()">
                <option value="0" selected>pet</option>
                <option
                        th:each="p : ${pets}"
                        th:text="${p.name}"
                        th:value="${p.id}">
                </option>
            </select>
        </div>



    </div>
</div>

    <script>
        function goToLink(){
            var id = document.getElementById("pet-name");
            var value = id.value;
            var link = "/pet-profile/"
            if (value > 0){
                location.href = link.concat(value)
            }
        }
    </script>

</body>


</html>